.roomSelect {
  position:fixed;
  width:fit-content;
  height:fit-content;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color: #224;
  z-index:3100;
  padding:20px;
}
.back {
  position:absolute;
  width: 100%;
  min-height: 100vh;
  background: rgba(100, 100, 100, .8);
  z-index:3000;
}
body {
  background-color: #224;
}
p {
  color:white;
  display:inline;
  font-size:15px;
}
table {
  color:white;
  text-align: center;
  position:relative;
  left:50%;
  transform:translateX(-50%);
}
h1 {
  color:white;
  text-align: center;
}
h2 {
  color:white;
  text-align: center;
}
h2 p {
  display:inline;
}
button {
  position:relative;
  background-color: #556;
  color:white;
  height:30px;
  width:120px;
  font-size:15px;
}
td button {
  height:30px;
  width:60px;
}
table, td, th {
  border: 2px #666 solid;
}
th {
  padding:10px;
  background-color: #226;
}
td {
  background-color: #227;
}
input {
  background-color: #556;
  color:white;
}